
*{
  margin: 0;
}
main{
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  align-items: center;
  background: linear-gradient(to left, rgb(160, 26, 160), rgb(170, 58, 170), rgb(165, 64, 143));
}
main > *{
  margin-bottom: 10px;
}

#input{
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 10px;
  min-width: 80%;
  border: solid 1.5px white;
  box-shadow: 1px 0px 4px rgba(220, 212, 212, 0.7);
  border-radius: 15px;
}

#input input{
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 100%;
  min-height: 35px;
  padding: 4px 2px;
  caret-color: white;
}

input::placeholder{
  color: aliceblue;
}

#recipe-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
  flex-wrap: wrap;
}

#recipeCard{
  border: solid 1px rgb(181, 73, 73);
  color: rgb(181, 73, 73);
  background-color: rgba(255, 255, 255, 0.60);
  box-shadow: 1px 0px 4px rgba(27, 26, 26, 0.70);
  padding: 10px;
  max-width: 400px;
  border-radius: 8px;
}

#preparationTag{
  font-weight: 600;
}

#recipeCard img{
  object-position: center;
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

#recipeCard > *{
  margin-bottom: 4px;
}